# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
*.log.*

# Build files
build/
dist/

# Environment variables
.env
.env.local

# VSCode settings
#.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Ignore API keys or sensitive files
settings.json